/*
 * Device Tree Overlay for MSIOF3(A) SPI slave on Salvator-X(S) EXIO D
 *
 * Copyright (C) 2016 Glider bvba
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 *
 * Pinout:
 *   - 3V3  = EXIO B(!) pin 39, 40, 41, 42
 *
 *   - GND  = EXIO D pin 3, 4, 7, 8, 12, 17, 18, 45, 46, 54, 58, 63
 *   - CS#  = EXIO D pin 77
 *   - SCK  = EXIO D pin 79
 *   - MISO = EXIO D pin 73
 *   - MOSI = EXIO D pin 75
 */

/dts-v1/;
/plugin/;

&pfc {
	msiof3_pins: msiof3 {
		groups = "msiof3_clk_a", "msiof3_sync_a",
			 "msiof3_rxd_a", "msiof3_txd_a";
		function = "msiof3";
	};
};

&msiof3 {
	pinctrl-0 = <&msiof3_pins>;
	pinctrl-names = "default";

	status = "okay";

	spi-slave;
};
